.talktous
  {
    background-color: #F6F7F7;
    color: #666666;
    height: 120px;
    margin: auto;
    font-family: 'opR','tamilf';
    padding: 2em 4.2rem;
    font-size: 20px;
    display:inline-flex;
    flex-direction: row;
    width: 100%;
  }
  .talktousButton
  {
    background-color: #CC9F08;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    margin: 1em;
    float: right;
    border: 0;
    padding: 4px 16px;
    font-family: 'opR','tamilf';
}
.talktouspara
{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

    padding-right: 30px;
    font-family: 'opR','tamilf';

    text-align: left;
    width: 80%;
    padding-left: 40px;
}
.talktousButton
{
  margin: 0;
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 18px;  
  font-family: 'opR','tamilf';
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 1600px) {
  .talktous
{
  font-size: 14px;
}
.talktousButton
{
  right: 60px;
}
.talktouspara
{
  padding-left: 25px;
  font-size:22px;
}
}
@media screen and (max-width: 1200px) {
  .talktous
{
  font-size: 14px;
}
.talktousButton
{
  right: 20px;
  font-size: 16px;
}
.talktouspara
{
  width: 75%;
    font-size: 20px;
    padding-left: 30px;
}

}
@media screen and (max-width: 800px) {
  .talktous
{
  font-size: 14px;
}
.talktouspara {
  width: 70%;
  font-size: 16px;
  padding-left: 0;
}
}
@media screen and (max-width: 500px) {
 .talktous
{
  font-size: 12px;
  padding: 2em 0rem;
  height:150px;
}
.talktousButton
{
  font-size: 14px;
}
.talktouspara
{
  text-align: left;
  width: 75%;
  padding-left: 20px;
  font-size:12px;
}

.talktousButton
{

  padding: 7px;
}

}

.headerfixed
{
    position: fixed;
    z-index: 99;
    width: 100%;
}
