.talktous
  {
    background-color: #F6F7F7;
    color: #666666;
    height: 120px;
    margin: auto;
    font-family: 'opR','tamilf';
    padding: 2em 4.2rem;
    font-size: 20px;
   
  }
  .talktousButton
  {
    background-color: #CC9F08;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    margin: 1em;
    float: right;
    border: 0;
    padding: 4px 16px;
}
.talktouspara
{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: justify;
    padding-right: 30px;
}
.talktousButton
{
  margin: 0;
  position: absolute;
  top: 50%;
  right: 20px;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 800px) {
  .talktous
{
  font-size: 14px;
}
}
@media screen and (max-width: 500px) {
 .talktous
{
  font-size: 12px;
  padding: 2em 1.2rem;
}
}

.headerfixed
{
    position: fixed;
    z-index: 99;
    width: 100%;
}
