.schemebody
{
    padding: 7em 0 0em 0;
    position:relative;
}
.productheroimgdiv
{
    width: 100%;
    height: 420px;
position: relative;
}

.productheroimg
{
    height:100%;
    width:100%;
    object-fit: cover;
}
.schemetext
{
    padding: 2em 6em;
}
.cartextdiv
  {
    position: absolute;
    top: 25vh;
    font-family: 'monB';
    color: #FDEEBC !important;
    left: 60px;
    font-size: 48px;
    /* color: #ffffff; */
    height: 5rem;
  }
.bodyHeading
{
  padding:0 0.5em;
  font-size: 26px;
  margin:2em 0;
  border-left:8px solid #CC9F08;
}
.bold
  {
    font-family: 'opEB','tamilf';
  }
  .gold
  {
    color: #000000;
    font-family: 'opEB';
  }
a{
  color:#CC9F08;
}
.downicon
{
  width: 12px;
    margin-left: 4px;
}
  p
  {
    font-size: 18px;
    line-height: 2em;
    color: #555;
    text-align: justify;
    font-family: 'opR','tamilf';
  }

  h2{
    font-weight: bold;
    padding-bottom: 1em;
    padding-top: 2em;
  }

  ol{
    font-size:12px;
    padding: 1em 0 3em 1em;
  }

  h4{
    padding-top: 20em;
  }

  .linkstab
  {
      display: inline-flex;
      color:#fff;
      background-color: #171717;
      font-size: 14px;
      font-family: 'opR','tamilf';
      width:100%;
      padding:11px 65px;
  }
  .downarrow
  {
      height:12px;
      transform: rotate(-90deg);
  }
  .padl15
  {
      padding-left: 15px;
  }
  .homeimg
  {
      height: 22px;
      width: 22px;
      
  }
  
  .pointer
  {
      cursor:pointer;
  }
  @media screen and (max-width: 800px) {
    .cartextdiv
    {
    
    
        margin-top: -27rem;
        text-align: center;
        /* bottom: 2rem; */
        margin-left: 0;
        left: 0;
        width: 100%;
        position: relative;
        font-size: 3rem;
        color: #ffffff;
    
    }
    }
  @media screen and (max-width: 600px) {
  .schemetext
  {
    padding:2em;
  }

  p {
    font-size:14px;
  }
  .cartextdiv
  {
  
  
      margin-top: -25rem;
      text-align: center;
      /* bottom: 2rem; */
      margin-left: 0;
      left: 0;
      width: 100%;
      position: relative;
      font-size: 3rem;
      color: #ffffff;

  } 
  .linkstab
  {
      padding: 11px 20px;
  }
   .productheroimg
  {
    object-position: 95% 90%;
  }

}

.headerfixed
{
    position: fixed;
    z-index: 99;
    width: 100%;
}
