.footer
{
    margin: auto;
    width: 100%;
    bottom: -30em;
    font-family:'opR','tamilf';
    background-color: #101010;
    color: #fff;
}
.divline
{
    width: 93%;
    height:1px;
    margin: 0 60px;
    background-color: #ffffff2b;
}
.footerrow
{
    padding: 65px 0 0;
    // margin: 0 60px;
    // border-bottom: 1px solid #80808045;
}
.socialmodeia
{
    display: inline-flex;
    float: right;
}
.scircle
{
    padding: 0 12px;
    cursor: pointer;
}
.columr
{
    text-align: right;
}
.logo
{
    font-size: 36px;
    padding-bottom: 63px;
}
.padl70
{
    padding-left:60px;
}
.copyrights
{
    letter-spacing: 2px;
    font-size: 10px;
    padding: 50px 60px;
    width: 100%;
}
a:hover{
    cursor: pointer;
}
.menulinks
{
    padding-bottom: 63px;
}

.menulinks a{
    text-decoration: none;
    color: #fff;
    padding-right: 40px;
    font-size: 14px;
}
.flex
{
    display: inline-flex;
    flex-direction: row-reverse;
    padding-right: 45px;
}
.martop
{
    padding-right: 60px;
    margin-top: -3em;
}
@media screen and (max-width: 1200px) {

   
    
    .footerrow {
        padding: 65px 0 0;
    }
    .menulinks a {
        
        padding-right: 20px;
    }
    .flex{
        padding-right: 60px;
    }
    .divline
{
    width: 89%;
    height: 1px;
    margin: 0 60px;
    background-color: #ffffff2b;
}
}
@media screen and (max-width: 930px) {

.padl70
{
    padding-left: 20px;
}
.copyrights
{
    padding-left:20px;
}
}
@media screen and (max-width: 800px) {


    .footer
    {
        height: auto;
        /* margin: auto; */
        /* width: 100%; */
        /* position: relative; */
        /* bottom: -30em; */
        background-color: #101010;
        color: #fff;
    }

    .footerrow{

       padding: 30px 0px 30px 20px;
    }
    .divline
    {
        width: 89%;
        height: 1px;
        margin: 0 40px;
        background-color: #ffffff2b;
    }
    .columl
    {
        padding-left: 40px;
    }
    .columr
    {
        text-align: left;
    }
    .copyrights
    {
        padding: 50px 40px;
    }
    .menulinks
    {
        padding: 20px 0;
        text-align: left;
        display: inline-flex;
        flex-direction: column;
    }
    .logo
    {
        font-size: 24px;
    padding-bottom: 0px;
    }
    .copyrights
    {
     
    font-size: 7px;
    }
    .menulinks a {
        text-decoration: none;
        color: #fff;
        padding: 0 40px 10px 0;
        font-size: 14px;
    }
.footerrow
{
    padding: 65px 0px 0px;
}
.martop
{
    padding: 3em  0 3em 0;
    width: 100%;
    background-color: #101010;
}
.flex{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: right;
    width: 100%;
    margin-top: 3em;
    padding-left: 0;
}
}
@media screen and (max-width: 600px) {

    .flex{
display: inline-flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: 3em;
    padding-left: 0;
    }

    .menulinks
    {
        padding-left: 0px;
    }
    .footerrow
    {
        border-bottom:0px;
        margin: 0 20px;
    }
    .divline
    {
        display:none;
    }
    .scircle{
        padding: 0 20px 0 0;
    }
    .copyrights{
        padding: 50px 20px;
    }
.columl
{
    padding-left:0px;
}
.flex
{
    padding-left:0px;
}
}










