<div class="footer">
 <div class="row footerrow" >
    <div class="columl col-lg-8 col-md-8 col-sm-12 col-12 padl70">
      <div class="menulinks">
        <a class="" (click)="goToProducts('allproducts','Gold')" >{{ts.translate('products')}}</a>
        <a (click)="goToCollections('allcollections')">{{ts.translate('collections')}}</a>
        <a (click)="goToPage('goldschemes')">{{ts.translate('goldschemes')}}</a>
        <a (click)="goToPage('aboutus')">{{ts.translate('aboutus')}}</a>
        <a (click)="goToPage('contactus')">{{ts.translate('contactus')}}</a>
    </div>
      
    </div>
    <div class=" col-lg-4 col-md-4 col-sm-12 col-12 flex ">
      <a href="https://www.instagram.com/sribalagopalanjewellerymart" target="_blank"><div class="scircle" >
          <img class="scircleImg" src="../../../assets/images/Instasmall.svg">
        </div>
      </a>
      <a href="//api.whatsapp.com/send?phone=919994926518&text=Hi Team !!!" target="_blank">
        <div class="scircle">
            <img class="scircleImg" src="../../../assets/images/whatsappsmall.svg">
          </div>
        </a>
        <a href="https://www.facebook.com/sribalagopalanjewellerymart" target="_blank">
          <div class="scircle">
              <img class="scircleImg" style="margin-top: -2px;" src="../../../assets/images/facebooksmall.svg">
            </div>
          </a>
          </div>
  </div>
  <div class="row">
    <div class="copyrights">
      Copyrights @ SBJ 2021 | Powered By NEW ERA
   </div>
  </div>
  <div class="socialmodeia martop">
    
       
</div>
</div>