.carousel
{
    margin-top:60px;
}
.carousel-control-next {
    right: -10%;
  }
  .indiImg:hover
  {
      cursor: pointer;
  }
  #prevbut1
  {
//    opacity:0;
   left: -10rem;
  }
  #prevbut2
  {
//    opacity:0;
  }
  
//   .carousel-control-next-icon,
//   .carousel-control-prev-icon {
//     background-color: black;
//     border-radius:50%;
//     padding:8px;
//   }
  .flexitem
  {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .carousel-inner
  {
    display:inline-flex;
  }
 

  .left
  {
      transform: rotate(90deg)
  }
  .right
  {
      transform: rotate(-90deg)
  }

  .indiImg
 {
     margin:4em 2em;
     display: flex;
     height:250px;
     width:250px;
     text-align: center;
     flex-flow: column-reverse;
 }
 .productsLists
{
    padding-top:20em;
}

.productimg{
    object-fit: cover;
    height:100%;
margin-bottom: 20px;
 }
.proname
{
    color:#444;
    font-size: 20px;
    font-weight: 700;
    font-family: 'avenirR','tamilf';
}
// .carousel-control-prev
// {
//     opacity:0;
// }

.procode
{
    color:#888888;
    font-family: 'avenirR','tamilf';
    font-size: 14px;
}
.zoombut
{
    text-decoration: underline;
    cursor: pointer;
    color:#666666;
    font-size: 12px;
    font-family:'opB','tamilf';
}
.nextCaro
{
    padding:1em;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px 1px #b6b6b6;
}

#demo1
{
    display:block;
}

#demo2
{
    display:none;
}
@media screen and (max-width: 1500px) {
}
.carousel-control-next {
    right: -8%;
}
@media screen and (max-width: 1200px) {
    .productimg {
        height: 90%;
        width: 70%;
    }
    #prevbut1
    {
    
     left: -7rem;
    }
    .indiImg
    {
       
          text-align: left;

    }
}

@media screen and (max-width: 800px) {
.productimg
{
    height: 60%;
    width: 14rem;
}
.indiImg {
    margin: 4em 0em;
}
.carousel-control-next {
    right: -5%;
}
#prevbut1
{
//  opacity:0;
 left: -4rem;
}
}
 @media screen and (max-width: 600px) {
    .indiImg
    {
        margin: 0 auto;
        display: flex;
        width: 60%;
        height: 100%;
        flex-flow: column-reverse;
        text-align: center;
    }  
    .productimg
    {
        height: 77%;
        width: 100%;
        object-fit: cover
    }
    .zoombut
    {
        font-size: 10px;
    }
    .procode
    {
        font-size: 16px;
    }
    .proname
    {
        font-size: 20px;
    }
    #demo1
    {
        display:none;
    }
    #demo2
    {
        display: block;
    }
    .carousel-control-next {
        right: 0% !important;
    }
    .center
    {
        text-align: center
    }

 }
