#menu ul {
  margin: 0;
  padding: 0;
}
::ng-deep .mat-menu-content
  {
    padding: 0em 0em 0em 0em;
    width: 100px;
  }

  #logo
  {
    width:70px !important;
  }
#logo:hover{
  cursor: pointer;
}

#menu
{
  box-shadow:0px 0px 10px 1px #cfcfcf;
}


#menu .main-menu {
  display: none;
}

.gold
{
  color:#cc9f08 !important;
}
.phonelink
  {
    display: block;
    font-size:12px;
    
  }
  .phonenumber
  {
    padding-top: 2px;
  }
.logoimg
{
  width:75px;
  height:75px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(0%) translateY(-50%);
}
.opaque
{
  opacity: 0;
  top: 14px;
  position: absolute;
}

.collapse-logo
{
  position: absolute;
    top: 70px;
    left: -2rem;
    display: block;
}

#tm:checked + .main-menu {
  display: block;
  background-color: #fff;



}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
  display: none;
}

#menu li, 
#toggle-menu, 
#menu .sub-menu {
  
  border-color: rgba(0, 0, 0, .05);
}

#menu li, 
#toggle-menu {
  border-width: 0 0 1px;
}

#menu .sub-menu {
  background-color: #444;
  border-width: 1px 1px 0;
  margin: 0 1em;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li, 
#toggle-menu, 
#menu a {
  position: relative;
  display: block;
  color: black;
  cursor: pointer;
  background-color: #fff;
  
}

#menu, 
#toggle-menu {
  background-color: #fff;
  height: 100px;
}

#toggle-menu, 
#menu a {
  padding: 1em 0em;
  height: 100%;
  width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.sub-menu
{
  background-color: #fff;
    width: 200%;
    font: 18px 'opR','tamilf';
}

.martop11
{
  margin-top:-11px;
}


#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
  background-color: white;
    color: #cc9f08;
    text-decoration: none;
    border: 0;
}

#menu .sub-menu {
  display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}

#menu .sub-menu a:hover {
  color: #cc9f08;
  cursor: pointer;
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
  // position: absolute;
  // right: 1.5em;
  // top: 1.25em;
}

.hamburger
{
  position: absolute;
  right: 1.5em;
  top: 1.25em;
}

.hidediv
{
  opacity: 0;
  top: 10px !important;
}


#menu label.drop-icon, #toggle-menu span.drop-icon {
  width: 7em;
    height: 85%;
    position: absolute;
    top: 24px;
    text-align: right;
}

#menu .drop-icon {
  line-height: 1;
  width:100%;
}

.phonediv
{
  float: right;
  padding: 40px 40px;
}

.icondiv
{
  padding-left: 6em;
position: relative;
    width: 120px;
    z-index: 4;
}
.logo
{
  width:100%;
}
.mainmenus
{
  width: 80%;
  position: absolute;
  height: 100%; //added
   
  right: 11rem;
  top: 0;
  padding: 0 10% 0 12rem;
}
.mainmenutext
{
  font: 18px opB,tamilf;
}


 .main-menu > .icondiv > .logo
{
  display:block;
}
::ng-deep .mat-radio-button {
padding: 1rem 1rem 0 2rem;
font: 12px 'opR' , 'tamilf';
}


.opaque
{
  opacity: 0 !important;
  top: 14px !important;

  position: absolute !important;
}

@media only screen and (max-width: 64em) and (min-width: 52.01em) {
  #menu li {
    width: 33.333%;
  }

  #menu .sub-menu li {
    width: auto;
  }
  .phonelink
  {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .mainmenutext
  {
    font:18px opB,tamilf;
  }
  .mainmenus
    {
      padding: 0 0% 0 10%;
    }
  .phonediv{
    font-size: 12px;
    
    font-family: 'opR';
  }
  .phonelink
  {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
 
.mainmenus
{
  padding: 10px 5% 10% 5%;
  background-color: #fff;
  width: 100%;
  position: absolute;
  right:0;
  top: -10px;
  height: 100vh;
}
#toggle-menu, #menu a {
  padding: 1em 1.5em;
  height: 100%;
  width: 100%;
  display: inline-flex;
  font: 12px 'opR' , 'tamilf';
 
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.phonelink
  {
    display: none;
  }

.icondiv{
display: block;
  position: absolute;
  z-index: 4;
  padding-left: 6em;
  width: 120px;
}

#tm:checked + .main-menu {
  display: block;
  background-color: #fff;
  margin-top: 0;
  position: absolute;
  width: 100%;
}
#menu, #toggle-menu {
background-color: #fff;
height: 70px;
}

.logoimg
{

  display: none;
  width: 50px;
  top: -65px;
  left: 3rem;
  position: absolute;

}

.collapse-logo > .logo .collapse-logoimg
{
  display: block;
  position: absolute;
  top: -56px;
  left: 5rem;
  width: 50px;
}

.phonediv {
  /* float: right; */
  /* padding: 25px 6em; */
  font-size: 12px;
  /* top: 0; */
  position: absolute;
  top: -9.3rem;
  right: 40px;
  font-family: 'opR';
}

}

@media only screen and (min-width: 1024px) {

  #menu
  {
    box-shadow:0px 0px 10px 1px #cfcfcf;
  }
  

  #menu .main-menu {
    display: block;
    height: 100%;
  }

  #toggle-menu, 
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li  {
    display: inline-flex;
    height: 100%;
    margin: auto;
  }
  #menu div {
    display: inline-flex;
    // height: 100%;
    height:100px !important;
    margin: auto;
  }

  #menu .sub-menu li {
    float: none;
    width:100%;
  }

  #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    z-index: 3000;
    background-color: #fff;
  }

  #menu .sub-menu, 
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
    width: 100%;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
    padding: 0 0 0 3rem;
  }

  #menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
    width: 30rem;
    /* margin-left: 3rem; */
    // padding: 0 3rem;
    padding-left: 3rem;
  }



}

.mainmenutext.scrolled{
  background-color: transparent !important;
  color:#fff !important;
}

#menu.scrolled{
 background-color: transparent !important;
  color:#fff !important;
}

