
#language
{background: transparent;
border: 0;
color: black;
}
.langclass
{
  width: 5em;
   
    color: #272727;
    border: 0;
}
#language:focus{
  outline:0;
}
#changedropicon
{
  width: 16px;
  padding-top: 12px;
  margin-left: -17px;
}

.dropdown-menu:after {
  content:"";
  position: absolute;
  right: 4px;
  top: -22px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 17px 17px;
  border-color: transparent transparent #ffffff transparent;
  z-index:9998;
}


#language option
{
  background-color: transparent;
  border:5px solid #fff;
  border-radius:5em;
  color:grey;

}
#navdropdown1
{
  position: absolute;
  margin-left: 19%;
  margin-top: 15px;
  border: 0px;
  font-size: 16px;
  line-height: 2.4;
  width: 300px;
  font-family: 'opR','tamilf';
}
#navdropdown2
{
  position: absolute;
  margin-left: 31.5%;
  margin-top: 15px;
  border: 0px;
  font-size: 16px;
  line-height: 2.4;
  width: 300px;
  font-family: 'opR','tamilf';
}

// dropdownanimation





.submenu
{
  transition: 0.5s all ease-in-out;
  position: absolute;
  background-color: #fff;
  right: -21.5rem;
  margin-top: -4rem;
  cursor: pointer;
  padding:0;
  display: none;
}
.dropdown-item:hover{
  color:#CC9F08;
  cursor: pointer;
}
.downarrowmenu
{
  opacity:0;
  margin-left: 0px;
  transition: 0.5s all ease-in-out;
  float: right;
  transform: rotate(-90deg);
  margin-right: 0rem;
  margin-top: 1.2rem;
}
.dropdown-item:hover > span > .downarrowmenu{
  opacity:1;
  margin-left: 8px;
  transition: 0.5s all ease-in-out;
  float: right;
  transform: rotate(-90deg);
    margin-right: 0rem;
    margin-top: 1.2rem;
}


.dropdown-item:hover{
  color:#CC9F08;
  cursor: pointer;
}
.navbar{
  position: relative;
  display: flex;
   flex-wrap: wrap;
  box-shadow: 0 0 10px 0 #e2e2e2;
  overflow-y: unset;
  margin: 0;
  background-color: #fff;
  align-items: center;
  justify-content: left;
  padding: 0.5rem 1rem 0px 1rem;
  border:0;
   transition: 0.5s all ease-in-out;
  
}
#navbarContent
{
  position: relative;
}
.navbar-brand {
 
 margin:0 !important;
 padding: 0 0px 0 50px ;
 height: auto;
  font-size: 18px;
}

.collapser
{
  position: absolute;
  right: 1em;
 
  top: 2.2em;

}

.navbar-light .navbar-toggler
{
  border-width: 0px;
  outline-width: 0px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
 color:#CC9F08;
//  padding: 10px 1rem 0rem;
    /* margin-top: 2px; */
    margin: 0;
  
    width:100%;
    // border-bottom: 6px solid #cc9f08;
}

.navbar-light .navbar-nav .nav-link {
  color:#000;
  font-size: 18px;
  font-family: 'opB','tamilf';
  padding: 25px 1rem;
  text-align: right;
  
}
.nav-link:hover {
 
  cursor: pointer;
}

.logoimg{
  height:75px;
    }
    .logoimg:hover{
      cursor: pointer;
    }
ul{
  width: 70%;
  margin: auto;
}
.navbar-nav>li {
  padding: 0 30px;

}
.phoneiconheader{
  padding-right: 1rem;
  filter: brightness(0%) contrast(50%);
}
.navbar-nav {
  margin: 5px 0% 0 13%;
  width: 100%;
  text-align: center;
  display: inline-block;
  overflow-x: auto;
}

.lang{
  display: flex;
    flex-direction: row;
    font-size:12px;
    padding-top:5px;
}

.langclass
{
  width: 6rem;
  margin: 0 0 0 1rem;
}
.phonelink
{
  padding-top: 1.3rem;
}


::ng-deep .mat-option-text
{
  color:#444;
}
::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-select-arrow {
  color:#444 !important;
  
  border-left: 15px solid transparent !important;
  border-right: none !important;
  border-top: 15px solid transparent !important;
  border-image-source: none !important;
  border-image-repeat: stretch !important;
  margin-top: -2px !important;
  transform: scale(0.7);
}

 
@media  screen and (max-width: 2700px){
  .navbar-nav{
    margin: 5px 0% 0 35%;
    
}

  #navdropdown1{
    margin-left: 37%;
  }
  #navdropdown2{
    margin-left: 43.5%;
  }
}

  @media  screen and (max-width: 1600px){
    .navbar-nav{
      margin: 0px 0% 0 15%;
      height: 100%;
    margin-left: 15%;
  }
  #navdropdown1{
    margin-left: 24%;
  }
  #navdropdown2{
    margin-left: 36%;
  }
  }
  @media  screen and (max-width: 1500px){
    .navbar-nav{
      margin: -5px 0% 0 9%;
      height: 100%;
    margin-left: 15%;
  }
  
  }

  @media screen and (max-width:1330px)
  {
    .navbar-nav{
      padding: 0 6px;
    }
    .navbar-nav > li {
      padding: 0px 10px;
  }
  .navbar-light .navbar-nav .nav-link
  {
    font-size: 16px;
  }
  #navdropdown1{
    margin-left: 15%;
  }
  #navdropdown2{
    margin-left: 28%;
  }
  }
 
  @media  screen and (max-width: 1030px){
    .navbar-nav
    {
      margin: 5px 0% 0 13%;
    }
    .navbar-nav > li {
      padding: 0 13px;
    }
    .navbar-light .navbar-nav .nav-link {
         
      padding: 25px 1rem;
      font-size: 14px;
     
  }
  #navdropdown1{
    margin-left: 15%;
  }
  #navdropdown2{
    margin-left: 28%;
  }
  .lang{
    padding-top:4px;
  }
  }
      ::ng-deep .mat-select-value {
        color: rgba(0,0,0,.87);
    }
    @media screen and (max-width: 768px) {
      .topnav > .lang > #language
      {
        position: absolute;
        top: 2.5em;
        z-index: 17;
        right: 5em;
      }
      .logoimg{
        height:60px;
          }
          .navbar-nav > li {
            padding: 0 0rem;
        }
        .navbar-nav {
          margin-left: 6rem ;
          
      }
      .navbar{
        padding: 0.5rem 1rem 1rem 1rem;
      }
      .navbar-brand
      {
        padding-left: 20px;
      }
      .phonelink{
        display: none;
      }
      .lang{
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
      .navbar-light .navbar-nav .nav-link {
       
        padding: 25px 1rem;
        font-size: 14px;
       
    }
    }
    @media screen and (max-width: 500px){
      .lang{
        right: 5rem;
        top: 1.5rem;
      }
      .downarrowmenu
      {
        display:none;
      }
      .navbar-nav {
        margin-left: 1rem ;
        
    }
    #navdropdown1 {
      margin-bottom: 1rem;
      box-shadow: none;
      margin-left: 0;
      width: 100%;
      position: unset;
      background-color: #fff;
      border: 0px;
      font-size: 16px;
      line-height: 2.4;
      -ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;
    }
   
    #navdropdown2 {
      margin-bottom: 1rem;
      box-shadow: none;
      margin-left: 0;
      width: 100%;
      position: unset;
      background-color: #fff;
      border: 0px;
      font-size: 16px;
      line-height: 2.4;
      -ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;
    }

    .downarrowmenu
{
  transform: rotate(0deg);
  opacity:1;
}

.dropdown-item:hover > span > .downarrowmenu{
 
  transform: rotate(0deg);
  
}


    .nav-link
    {
      font-family:'opEB','tamilf';
      color:#CC9F08;
    }
    .dropdown-menu > a
    {
      font-family: 'opR','tamilf';
      color:#CC9F08
    }
    .navbar > div > ul > li > a {
       
      font-size: 18px;
      text-align: left;
    }

    .submenu{
      transition: 0.5s all ease-in-out;
      position: unset;
      cursor: pointer;
      padding: 0;
      width: 100%;
      font-weight: 100;
      margin-top: 0rem;
      padding: 0 2rem;
      background-color: #ffffff;
      border: 1px solid #fff;
   
    }
    .submenu > a {
      font-family: 'opR','tamilf';
    }


    
.downarrowmenu
{
  transform: rotate(0deg);
  opacity:1;
  display: block;
}

.dropdown-item:hover > span > .downarrowmenu{
 
  transform: rotate(0deg);
  
}



    }
  
    .dropdown-submenu {
      position: relative;
    }
    
    .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -1px;
  
      display: block;
      width: 100%;
      margin: 10px 0;
      color: #fff;
      background-color: #efefef;
      font-size: 14px;
      border: 0;
    }

    .dropdown-toggle::after {
      display: none;
    }
 