
<div id="wrapper" class="wrapper">
 

  <app-todaysrate></app-todaysrate>
  

   <!-- <div class="todaysrate">
     <div class="goldratediv">
       <img class="goldrateimg"  src="../../../assets/images/goldrate.png" />

       <div class="goldrate"  id="rate">
          <div class="goldratehead">
              {{ts.translate('todaysrate')}}
          </div>
          <div class="goldbody">
           <div> <span class="bold"><img style="width:1.5em;    margin-right: 8px;" src="../../../assets/images/promise1.svg" /> {{ts.translate('Gold')}} 1gm</span> - RS {{goldprice}}</div>
          
          </div>
        </div>


     </div>

     <div class="silverratediv">
        <img class="silverrateimg"  src="../../../assets/images/silverrate.png" />
 
        <div class="silverrate"  id="rate">
           <div class="silverratehead">
               {{ts.translate('todaysrate')}}
           </div>
           <div class="silverbody">
           
            <div> <span class="bold"><img  style="width:1.5em;    margin-right: 8px;" src="../../../assets/images/promise1.svg" /> {{ts.translate('Silver')}}  1gm</span> - RS {{silverprice}}</div>
           </div>
         </div>
 
 
      </div>
   </div> -->


  <nav class="navbar  navbar-light  navbar-expand-sm">
    <a class="navbar-brand" ><div class="logo" id="logo" (click)="goToPage('home')">
      <img *ngIf="languageselect=='LA-EN'" class="logoimg" src="../../../assets/images/sbjlogo.png">
      <img *ngIf="languageselect=='LA-TA'" class="logoimg" src="../../../assets/images/sbjlogo-ta.png">
     </div></a>
    <button id="collapsebut" class="navbar-toggler collapser" type="button" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
      </button>
  
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav" id="navbarnavid">
        <li class="nav-item dropdown1">
      
       <a class="nav-link producthover dropdown-toggle" href="#" id="manlinkh1" (click)="hidesubmenus()" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ts.translate('products') }}
        </a>
       <div class="dropdown-menu" id="navdropdown1" aria-labelledby="manlinkh1" >
          <!-- <a class="dropdown-item" (click)="goToProducts('allproducts','allmetals')"> {{ts.translate('allproducts') | titlecase}} </a>
          <div class="dropdown-divider"></div> -->
          <!-- <a class="dropdown-item" (click)="goToProducts('allproducts','Gold')" >{{ts.translate('gold') | titlecase}}</a>
          <a class="dropdown-item" (click)="goToProducts('allproducts','Silver')" >{{ts.translate('silver') | titlecase}}</a>
          <a class="dropdown-item" (click)="goToProducts('allproducts','Diamond')" >{{ts.translate('diamond') | titlecase}}</a> -->
          <a class="dropdown-item "   (click)="openMenu('gold')" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              {{ts.translate('gold') | titlecase}}<span><img class="downarrowmenu" src="../../../assets/images/downarrowb.png"/></span></a>
            <ul class="submenu" id="goldmenu">
              
                  <!-- <a class="dropdown-item" (click)="goToProducts('allproducts','Gold')"> {{ts.translate('allproducts') | titlecase}} </a> -->
                  <a class="dropdown-item" (click)="goToProducts('maalai','Gold')">{{ts.translate('maalai') | titlecase}}</a>
                  <a class="dropdown-item" (click)="goToProducts('bangles','Gold')">{{ts.translate('bangles') | titlecase}}</a>
                  <a class="dropdown-item" (click)="goToProducts('necklace','Gold')">{{ts.translate('necklace') | titlecase}}</a>
                  <a class="dropdown-item" (click)="goToProducts('chains','Gold')">{{ts.translate('chains') | titlecase}}</a>
                  <a class="dropdown-item" (click)="goToProducts('earrings','Gold')">{{ts.translate('earrings') | titlecase}}</a>
                  <a class="dropdown-item" (click)="goToProducts('rings','Gold')">{{ts.translate('rings') | titlecase}}</a>
                  <a class="dropdown-item" (click)="goToProducts('bracelet','Gold')">{{ts.translate('bracelet') | titlecase}}</a>
                  <!-- <a class="dropdown-item" (click)="goToProducts('gifts','Gold')">{{ts.translate('gifts') | titlecase}}</a> -->
                  <a class="dropdown-item" (click)="goToProducts('dollar','Gold')">{{ts.translate('dollar') | titlecase}}</a>
              
            </ul>
          <a class="dropdown-item" (click)="openMenu('diamond')" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            {{ts.translate('diamond') | titlecase}} <span><img class="downarrowmenu" id="rot1" src="../../../assets/images/downarrowb.png"/></span></a>
          <ul class="submenu" id="diamondmenu">
            
            <a class="dropdown-item" (click)="goToProducts('necklace','Diamond')">{{ts.translate('necklace') | titlecase}}</a>
            <a class="dropdown-item" (click)="goToProducts('earrings','Diamond')">{{ts.translate('earrings') | titlecase}}</a>
            <a class="dropdown-item" (click)="goToProducts('rings','Diamond')">{{ts.translate('rings') | titlecase}}</a>
            
          </ul>
         
          <a class="dropdown-item" (click)="openMenu('silver')" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            {{ts.translate('silver') | titlecase}}<span><img class="downarrowmenu" src="../../../assets/images/downarrowb.png"/></span></a>
          <ul class="submenu" id="silvermenu">
            
                <a class="dropdown-item" (click)="goToProducts('silvervessels','Silver')">{{ts.translate('silvervessels') | titlecase}}</a>
                <a class="dropdown-item" (click)="goToProducts('gifts','Silver')">{{ts.translate('gifts') | titlecase}}</a>
                <a class="dropdown-item" (click)="goToProducts('idols','Silver')">{{ts.translate('idols') | titlecase}}</a>
                <a class="dropdown-item" (click)="goToProducts('poojaitems','Silver')">{{ts.translate('poojaitems') | titlecase}}</a>
        

            
          </ul>
        
          
        </div>
        </li>
      

        <li class="nav-item">
          <a class="nav-link producthover dropdown-toggle" href="#"  id="manlinkh2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ts.translate('collections')}}
          </a>
          <div class="dropdown-menu" id="navdropdown2" aria-labelledby="manlinkh2">
              <a class="dropdown-item" (click)="goToCollections('allcollections')"> {{ts.translate('allcollections') | titlecase}} </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="goToCollections('marriage')" >{{ts.translate('wedding') | titlecase}}</a>
              <a class="dropdown-item" (click)="goToCollections('women')" >{{ts.translate('women') | titlecase}}</a>
              <a class="dropdown-item" (click)="goToCollections('men')" >{{ts.translate('men') | titlecase}}</a>
              <a class="dropdown-item" (click)="goToCollections('kids')" >{{ts.translate('kids') | titlecase}}</a>
              <a class="dropdown-item" (click)="goToCollections('gifts')" >{{ts.translate('gifts') | titlecase}}</a>
            
              
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="manlinkh3" (click)="goToPage('goldschemes')">{{ts.translate('goldschemes')}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  id="manlinkh4" (click)="goToPage('aboutus')">{{ts.translate('aboutus')}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="manlinkh5" (click)="goToPage('contactus')">{{ts.translate('contactus')}}</a>
        </li>
    </ul>
   
   </div>
   <div class="lang ">
    <span class="phonelink"><img class="phoneicon" style="width:18px;margin-top: -2px;" src="../../../assets/images/wiconw.png" />
      {{ ts.translate("phonebody1") }} &nbsp;&nbsp;&nbsp;|</span>
  

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
       <img id="changedrop" style="width:20px" src="../../../assets/images/languageiconw.svg" />
      </button>
      <mat-menu #menu="matMenu">
      
         <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="languageselect" name="radbutton">
          <mat-radio-button class="radbutton" *ngFor="let lang of langlist"  [checked]="lang.checked == 'true'" [value]="lang.key" (change)="getLang(lang.key)" >
            {{lang.value}}
          </mat-radio-button>
        </mat-radio-group>


      </mat-menu>
      <span style="font-size:12px;    padding-top: 14px;">{{showlang}}</span>
    

   
      
    </div>
  
  
  
  </nav>
 
<div class="homebody">

  <div id="carouselExampleSlidesOnly herocarosol" class="carousel slide heroc" data-ride="carousel"  data-pause="true" data-interval="6000">
    <div class="carousel-inner">
      <div class="carousel-item .item active">
        <img class="d-block w-100 carosolimg img-fluid" src="../../../assets/images/banners/hero1.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block cartext">
         
          <div class="lines" >{{ts.translate('goldheroline1')}}   </div>
          <!-- <div class="lines" >{{ts.translate('goldheroline2')}}  </div> -->
       
          <div class="box-1">
              <div class="btn btn-one" (click)="goToProducts('allproducts','Gold')">
                <span >{{ts.translate('our') | titlecase }} {{ts.translate('Gold')  | titlecase  }}</span>
              </div>
            </div>
            
         
        </div>
      </div>
      <div class="carousel-item .item">
        <img class="d-block w-100 carosolimg img-fluid" src="../../../assets/images/banners/hero2.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block cartext">
         
            <div class="lines" >{{ts.translate('diamondheroline1')}}            </div>
            <div class="lines" > {{ts.translate('diamondheroline2')}}  </div>
            
            <div class="box-1">
                <div class="btn btn-one"  (click)="goToProducts('allproducts','Diamond')">
                  <span>{{ts.translate('our')  | titlecase }} {{ts.translate('diamond')  | titlecase }}</span>
                </div>
              </div>
              
           
          </div>
      </div>
      <div class="carousel-item .item">
        <img class="d-block w-100 carosolimg img-fluid" src="../../../assets/images/banners/hero3.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block cartext">
            <div class="lines" > {{ts.translate('silverheroline1') }}  </div>

            <div class="box-1">
                <div class="btn btn-one" (click)="goToProducts('allproducts','Silver')">
                   
                  <span >{{ts.translate('our')  | titlecase  }} {{ts.translate('silver')  | titlecase  }}</span>
                </div>
              </div>
              
          
         
        </div>
      </div>
      <div class="carousel-item .item">
        <img class="d-block w-100 carosolimg img-fluid" src="../../../assets/images/banners/hero4.jpg" alt="Fouth slide">
        <div class="carousel-caption d-none d-md-block cartext">

            <div class="lines" > {{ts.translate('collectionsheroline1')}}  </div>
            <div class="lines" > {{ts.translate('collectionsheroline2')}}         </div>


            <div class="box-1">
                <div class="btn btn-one" (click)="goToCollections('marriage')">
                  <span >{{ts.translate('our')  | titlecase  }} {{ts.translate('collections')  | titlecase }}</span>
                </div>
              </div>
              
         
        </div>
      </div>
     
      
    </div>
  
    <div class="downarrowdiv">
    <a (click)="scrollToproducts()"> <span class="material-icons downarrow" >
      <button style="border: 0px;
      outline: 0px;
      background-color: transparent;">expand_more</button>
            </span>
          
          </a>
       
    </div>
  </div>
  <div id="productsec" class="bodyView" #products data-aos="fade-up" data-aos-once="true">
    <div class="bodyHeading">
        {{ts.translate('our') |  uppercase}} <span class="bold">{{ts.translate('products') |  uppercase}}</span>
    </div>
   <div class="flexhori">
        <div class="indi">
            <div class="imageContainer  setpad0">
              <a (click)="goToProducts('allproducts','Gold')">  <img class="collectionGoldImage" src="../../../assets/images/banners/gold.jpg">
                <div class="bottom-left "> {{ts.translate('gold') | titlecase }} <img class="rarrow" src="../../../assets/images/downarrow2.png"/></div></a>
            </div>
        </div>
        <div class="">
            <div class="imageContainer setpad0">
                <a (click)="goToProducts('allproducts','Diamond')">  <img class="collectionGoldImage" src="../../../assets/images/banners/diamond.jpg">
                <div class="bottom-left "> {{ts.translate('diamond') | titlecase }}<img class="rarrow" src="../../../assets/images/downarrow2.png"/> </div></a>
            </div>
        </div>
        <div class="">
            <div class="imageContainer setpad0 mar0">
                <a (click)="goToProducts('allproducts','Silver')"> <img class="collectionGoldImage" src="../../../assets/images/banners/silver.jpg">
                <div class="bottom-left "> {{ts.translate('silver') | titlecase }}<img class="rarrow" src="../../../assets/images/downarrow2.png"/> </div></a>
            </div>
        </div>
    </div> 


   <!-- <div class="flexhorimobile">
      <div id="demo3" class="carousel slide" data-interval="10000" pause="true" >

 
  
  
          <div class="carousel-inner no-padding ">

            <div class="carousel-item padl4 active">
              <div class="col-sm-12 col-12 padr5">
                <a (click)="goToProducts('allproducts','Gold')">  <img class="collectionGoldImage" src="../../../assets/images/banners/gold.jpg">
                <div class="bottom-left padr3"> {{ts.translate('gold') | titlecase }}<img class="rarrow" src="../../../assets/images/downarrow2.png"/> </div></a>
              </div>  
            </div>  

            <div class="carousel-item padl4">
              <div class="col-sm-12 col-12">
                  <a (click)="goToProducts('allproducts','Diamond')">  <img class="collectionGoldImage" src="../../../assets/images/banners/diamond.jpg">
                    <div class="bottom-left padr3"> {{ts.translate('diamond') | titlecase }}<img class="rarrow" src="../../../assets/images/downarrow2.png"/> </div></a>
              </div>  
            </div>
        
            <div class="carousel-item padl4">
              <div class="col-sm-12 col-12">
                  <a (click)="goToProducts('allproducts','Silver')">  <img class="collectionGoldImage" src="../../../assets/images/banners/silver.jpg">
                    <div class="bottom-left padr3"> {{ts.translate('silver') | titlecase }}<img class="rarrow" src="../../../assets/images/downarrow2.png"/> </div></a>
              </div>  
            </div>  
        
            
         </div>
         <a id="prevbut" class="carousel-control-prev" href="#demo3" data-slide="prev">
                <div class="nextCaro">	<img class="left" src="../../../assets/images/arrow.png" /></div>
           </a>
         
         <a class="carousel-control-next" (click)="showprev()"  href="#demo3" data-slide="next">
             <div class="nextCaro">	<img class="right" src="../../../assets/images/arrow.png" /></div>
          </a>
       </div>
       
     
  </div> -->
  
       
     

     
  
  </div>


  <div class="bodyView" data-aos="fade-up" data-aos-once="true">
    <div class="bodyHeading nonmargin" >
        {{ts.translate('our') |  uppercase}} <span class="bold">{{ts.translate('collections') |  uppercase}}</span>
    </div>
    <div class="row padl5 margin0 ">
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 padl0 height100 padr20" >
          <div class="imageContainer marb20 nonmargin mar0">
              <a (click)="goToCollections('marriage')"> <img class="collectionwedding smallheight" id="marriagecoll" src="../../../assets/images/banners/collectionpotrait.jpg">
              <div class="bottom-left left2 top2"> {{ts.translate('wedding') | titlecase }}<img class="rarrow" id="marriageimg" src="../../../assets/images/downarrow2.png"/> </div></a>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 coll2column">
          <div class="row">
              <div class="imageContainer colimg mar-3 mar-r-1 collectionside  mar0 padr0">
                  <a (click)="goToCollections('men')">  <img  class="collectionImage h240 sidecollectionimage p25 adjust" src="../../../assets/images/banners/collectionmen.jpg">
                  <div class="bottom-left lefter bot1">{{ts.translate('men') | titlecase}}<img class="rarrow"  id="menimg"  src="../../../assets/images/downarrow2.png"/> </div></a>
              </div>
            </div>
            <div class="row padt20">
                <div class="imageContainer marb20 colimg mar-r-1 collectionside  mar0 padr0" >
                    <a (click)="goToCollections('women')"> <img class="collectionImage sidecollectionimage p25 adjust" src="../../../assets/images/banners/collectionwomen.jpg"/>
                    <div class="bottom-left lefter bot1">{{ts.translate('women') | titlecase}}<img class="rarrow"  id="womenimg"  src="../../../assets/images/downarrow2.png"/> </div></a>
                </div>
             </div>
         
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 coll3column">
          <div class="row p15 w103">
              <div class="imageContainer colimg mar-3 padingt20 collectionsideright mar0  padr0">
                  <a (click)="goToCollections('kids')"> <img class="collectionImage h240 sidecollectionimage  padl0" src="../../../assets/images/banners/collectionkids.jpg">
                  <div class="bottom-left lefter bot1">{{ts.translate('kids')| titlecase }}<img class="rarrow"  id="kidsimg"  src="../../../assets/images/downarrow2.png"/> </div></a>
              </div>
            </div>
          <div class="row padt20 p15 w103">
             <div class="imageContainer colimg collectionsideright mar0  padr0">
                <a (click)="goToCollections('gifts')"> <img class="collectionImage sidecollectionimage  padl0" src="../../../assets/images/banners/collectiongift.jpg">
                 <div class="bottom-left lefter bot1">{{ts.translate('gifts') | titlecase}} <img class="rarrow"  id="giftsimg"  src="../../../assets/images/downarrow2.png"/> </div></a>
             </div>
           </div>
       </div>



    </div>
  </div>
<div class="bodyView" data-aos="fade-up" data-aos-once="true">
  <div class="bodyHeading">
    {{ts.translate('our') |  uppercase}} <span class="bold">{{ts.translate('promises') |  uppercase}}</span>
  </div>
  <div class="row marginTop">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="PromiseContainer pcolor1">
            <div class="promiseBody">
              <div>
                <img class="width50" src="../../../assets/images/promise1.svg" />
              </div>
              {{ts.translate('promise1')}}
              
            </div>
            <div class="numbering">1</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="PromiseContainer pcolor2">
            <div class="promiseBody">
                <div>
                    <img class="width50" src="../../../assets/images/promise2.svg" />
                  </div>
                  {{ts.translate('promise2')}}
              
            </div>
            <div class="numbering">2</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="PromiseContainer pcolor1">
            <div class="promiseBody">
                <div>
                    <img class="width50" src="../../../assets/images/promise3.svg" />
                  </div>
                  {{ts.translate('promise3')}}
              
            </div>
            <div class="numbering">3</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="PromiseContainer pcolor2">
            <div class="promiseBody">
                <div>
                    <img class="width50" src="../../../assets/images/promise4.svg" />
                  </div>
                  {{ts.translate('promise4')}}
              
            </div>
            <div class="numbering">4</div>
        </div>
    </div>
  </div>
</div>

<div class="bodyView" data-aos="fade-up" data-aos-once="true">
  <div class="bodyHeading">
    {{ts.translate('top') |  uppercase}} <span class="bold">{{ts.translate('sellingjewels') |  uppercase}}</span>
  </div>
<app-topselling></app-topselling>
</div>
<div class="bodyView" data-aos="fade-up" data-aos-once="true">
  <div class="bodyHeading">
      {{ts.translate('whatpeople') |  uppercase}} <span class="bold">{{ts.translate('talkaboutus') |  uppercase}}</span>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12" id="user1">
      <div class="userpic">
        <img class="userimg" src="../../../assets/images/homehero1.jpg" />
        <div class="username">
          <div class="name">User1</div>
          <div class="designation">Buisness Women</div>
        </div>
      </div>
      <div class="usercomment">
        <div>
          <img src="../../../assets/images/DoubleQuotes.svg" class="doublequotes" />
        </div>
        <div class="comments">
            Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: 
            a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, 
            though, the unity and coherence of ideas among sentences is what constitutes a paragraph.
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12" id="user2">
        <div class="userpic">
          <img class="userimg" src="../../../assets/images/homehero1.jpg" />
          <div class="username">
            <div class="name">User2</div>
            <div class="designation">Buisness Women</div>
          </div>
        </div>
        <div class="usercomment">
          <div>
            <img src="../../../assets/images/DoubleQuotes.svg" class="doublequotes" />
          </div>
          <div class="comments">
              Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: 
              a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, 
              though, the unity and coherence of ideas among sentences is what constitutes a paragraph.
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12" id="user3">
          <div class="userpic">
            <img class="userimg" src="../../../assets/images/homehero1.jpg" />
            <div class="username">
              <div class="name">User3</div>
              <div class="designation">Buisness Women</div>
            </div>
          </div>
          <div class="usercomment">
            <div>
              <img src="../../../assets/images/DoubleQuotes.svg" class="doublequotes" />
            </div>
            <div class="comments">
                Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: 
                a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, 
                though, the unity and coherence of ideas among sentences is what constitutes a paragraph.
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12" id="user4">
            <div class="userpic">
              <img class="userimg" src="../../../assets/images/homehero1.jpg" />
              <div class="username">
                <div class="name">User4</div>
                <div class="designation">Buisness Women</div>
              </div>
            </div>
            <div class="usercomment">
              <div>
                <img src="../../../assets/images/DoubleQuotes.svg" class="doublequotes" />
              </div>
              <div class="comments">
                  Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: 
                  a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, 
                  though, the unity and coherence of ideas among sentences is what constitutes a paragraph.
              </div>
            </div>
          </div>




      
  </div>
  <div class="pagination0">
      <div id="prevuser0"  ><img  (click)="toggleuser0(1)"  style="transform:rotate(90deg) scale(0.7)" src="../../../assets/images/downarrow.png" /></div>
      <div id="nextuser0"  ><img (click)="toggleuser0(2)"  style="transform:rotate(-90deg) scale(0.7)" src="../../../assets/images/downarrow.png" /></div>
    </div>

  <div class="pagination">
    <div id="prevuser"  ><img  (click)="toggleuser('prev')"  style="transform:rotate(90deg) scale(0.7)" src="../../../assets/images/downarrow.png" /></div>
    <div id="nextuser"  ><img  (click)="toggleuser('next')"   style="transform:rotate(-90deg) scale(0.7)" src="../../../assets/images/downarrow.png" /></div>
  </div>

</div>



</div>
<app-talktous [talktouscontent]="ts.translate('talktoushome')"></app-talktous>
<app-footer></app-footer>
</div>

