.openchrome
{
    position:fixed;
    bottom:0;
    width:100%;
    line-height: 1.5em;
    background-color: #444;
    color:white;
    text-align: center;
    font-family:'opB';
    font-size:18px;
}