.contactbody{
  padding: 7em 60px;
    position:relative;
}
.schemebody
{
    padding: 7em 0 0em 0;
    position:relative;
}
.productheroimgdiv
{
  width: 100%;
  height: 420px;
  position: relative;
}


.bodyHeading
{
  padding:0 0.5em;
  font-size: 26px;
  margin:2em 0;
  border-left:8px solid #CC9F08;
}
.bold
  {
    font-family: 'opEB','tamilf';
  }

  .productheroimg
{
    height:100%;
    width:100%;
    object-fit: cover;

}

.store
{
    padding-bottom: 5em;
}
.padR
{
  padding-right: 0px;
}
.padL
{
  padding-left: 0px;
}
.storeHead1
{
  font-size:24px;
  color:#CC9F08;

}
.cartextdiv
  {
    position: absolute;
    top: 25vh;
    font-family: 'monB';
    color: #FDEEBC !important;
    left: 60px;
    font-size: 48px;
    /* color: #ffffff; */
    height: 5rem;
  }
.storetype
{
  color:#3C3A33;
  font-size: 18px;
}
.addHead
{
  font-weight: 600;
  color:#474747;
  font-size: 16px;
  padding: 1em 0 0 0;
}

.addbody
{
  font-size: 16px;
  color:#777777;
}
.emailblock
{
  font-size: 18px;
  padding-bottom: 1em;
}
input,textarea{
  padding: 1em 1em;
  width:100%;
  border-radius:5px;
  border:1px solid grey;
}

.errorclass
{
  border:1px solid red;
}

input:focus , textarea:focus
{
  border-radius:5px;
  outline:0;
  border:1px solid grey;
}
.redast
{
  color:red;
  padding-left:8px;
}

textarea{
  

  padding: 18px;
  border: 1px solid grey;
}


.submitbutton
{
  color:white;
  border:0;
  outline:0;
  padding:0.5em 1em;
  font-size: 18px;
  border-radius: 5px;
  background-color: #CC9F08;
  font-family:'opR','tamilf';
}
.fbicon
{
  margin-left: -2px;
  margin-top: -2px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  // margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.errormessage
{
  font-size:12px;
  color:red;
  padding:1em 0;
}
.socialmedia
{
  display: flex;
 
  text-align: center;
  justify-content: center;
}


.scircle
{
  border-radius: 50%;
  height: 10em;
  width: 10em;
  padding: 2em;
  margin:0 2em;
  cursor: pointer;
  box-shadow: 0 3px 10px 1px #ccc;
  transition: 0.3s all ease-in-out;
}
.center
{
  padding: 20px;
}
.scircle:hover{
  transform: rotateY(10);
}
.storeview
{
  height: 350px;
    width: 100%;
    object-fit: cover;
}
.linkstab
{
    display: inline-flex;
    color:#fff;
    background-color: #171717;
    font-size: 14px;
    font-family: 'opR','tamilf';
    width:100%;
    padding:11px 60px;
}
.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff;
}
.downarrow
{
    height:12px;
    transform: rotate(-90deg);
}
.padl15
{
    padding-left: 15px;
}
.homeimg
{
    height: 22px;
    width: 22px;
    
}
.padl0
{
  padding-left:0;
}
.padr0
{
  padding-right: 0;
}
.pointer
{
    cursor:pointer;
}
@media screen and (max-width: 1500px){
  .center
  {
    padding:0 20px;
  }
}
@media screen and (max-width: 1200px) {

  .linkstab{
 
      padding: 11px 40px;
  }
  iframe
  {
    height:300px;
  }
  .storeview
  {
    height:300px;
  }

  .padtopf
  {
    padding-top: 1.7em;
  }
  .padrw
  {
    padding-left: 2.1em;
  }
  .center
  {
    padding:0;
  }
  .storeHead1 {
    font-size: 20px;
  }
  .storetype {
    
    font-size: 16px;
  }
  .addHead {
    font-weight: 600;
    color: #474747;
    font-size: 14px;
  }
  .addbody {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .productheroimg
  {
  object-position: right;
  }
  .menulinks
  {
    display: inline-flex;
    flex-direction: column;
  }
  .menulinks a {
    padding: 20px 0 0;
  }
  
}
@media screen and (max-width: 800px) {
.cartextdiv
{


    margin-top: -27rem;
    text-align: center;
    /* bottom: 2rem; */
    margin-left: 0;
    left: 0;
    width: 100%;
    position: relative;
    font-size: 3rem;
    color: #ffffff;

}
}
@media screen and (max-width: 600px) {

  .contactbody
  {
    padding: 1em 2em 7em 0em;
  }
  iframe
  {
    height:180px;
  }
  .cartextdiv
  {
  
  
      margin-top: -25rem;
      text-align: center;
      /* bottom: 2rem; */
      margin-left: 0;
      left: 0;
      width: 100%;
      position: relative;
      font-size: 3rem;
      color: #ffffff;

  } 
  .storeview
  {
    height:180px;
  }
  .emailblock
  {
    padding-bottom: 0;
    padding: 0 0rem 0 2rem;
  }
  .scircle
  {
    height: 4.9em;
    width: 4.9em;
    padding: 0.9em;
    margin: 0 2em;

  }
  .productheroimg
  {
    object-position: 95% 90%;
  }
.padb1
{
  padding: 0 0 3rem 0;
}
.fbicon
{
  margin-left: 0;
  margin-top: 0;
}
  .scircleImg
  {
    height:100%;
    width:100%;
  }
  
  .padL
  {
    padding-right:0;
  padding-left:15px;
  }
  
  .linkstab
  {
      padding: 11px 20px;
  }
  .bodyHeading
  {
    margin: 2em 2rem;
  }
  .store
  {
    padding: 0 0rem 5rem 2rem;
  }
.submitbutton
{
  margin: 0 2rem;
}

}

.headerfixed
{
    position: fixed;
    z-index: 99;
    width: 100%;
}


