/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~aos/dist/aos.css'; 
@import './flicker.css';

@font-face {
    font-family: opL;
    src: url(assets/fonts/OpenSans-Light.ttf);
  }

  @font-face {
    font-family: dance;
    src: url(assets/fonts/dancer.ttf);
  }
  
  @font-face {
    font-family: avenirR;
    src: url(assets/fonts/Metropolis-Regular.otf);
  }
  @font-face {
    font-family: opR;
    src: url(assets/fonts/OpenSans-Regular.ttf);
  }
  @font-face {
    font-family: opB;
    src: url(assets/fonts/OpenSans-SemiBold.ttf);
  }
  @font-face {
    font-family: opEB;
    src: url(assets/fonts/OpenSans-ExtraBold.ttf);
  }
  @font-face {
    font-family: tamilf;
    src: url(assets/fonts/tamil.ttf);
  }


html , body{
  scroll-behavior: smooth;
    margin:0;
    padding:0;
    outline:0;
    overflow-x: hidden;
    font-family: opR;
}

.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}


::-webkit-scrollbar {
    background-color:transparent;
    width:16px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color:transparent;
}
::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
  
}
::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
   
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}


